<%- include('partials/header') %>

    <section class=" section-catalogue">

        <div class="section-banner-image">

            <h2 class="section-catalogue-title">Notre Catalogue</h2>

        </div>

    </section>

    <section class="main-section section-news">

        <div class="title-button-container">

            <h2 class="section-news-title main-section-title">Nos cafés</h2>

            <div class="text-form-title-separator">

                <div class="category-button-filter--text"> Trier par catégorie </div>

                <form class="sort-form">

                    <select class="select-category category-button-filter" name="categories" id="categories">

                        <option value="categories">Catégories</option>

                        <% categories.forEach((category)=> { %>
                            <option value="<%=category.id  %> ">
                                <%=category.name %>
                            </option>
                            <% }); %>

                    </select>
                    <input class="category-button-filter button-submit" type="submit" value="Trier">
                </form>
            </div>

        </div>

        <div class="section-news-cards">
            <div class="shadow-blur--catalogue"></div>
            <div class="article-container">

                <% const threeElementsOfCoffees=coffees.slice(0,3); const restOfCoffees=coffees.slice(3);
                    threeElementsOfCoffees.forEach((coffee)=> { %>
                    <article class="card-article card-<%=coffee.id  %>">
                        <header class="card-article-header card-article-part">
                            <h3 class="card-article-title">
                                <%= coffee.name %>
                            </h3>
                        </header>
                        <main class="card-article-main card-article-part">
                            <div class="article-image-container">
                                <img class="card-article-main-image" src="/images/coffees/images_coffees/<%= coffee.name %>.jpg"
                                    alt="Image de grains de café">
                            </div>
                            <p class="card-article-text-description card-article-text">
                                <%= coffee.description %>
                            </p>
                            <p class="card-article-text-origin card-article-text">Origine : <%= coffee.origin_name %>
                            </p>
                            <p class="card-article-text-caracteristic card-article-text">Caractéristique principale :
                                <%= coffee.category_name %>
                            </p>
                        </main>
                        <footer class="card-article-footer card-article-part">
                            
                            <div class="card-article-like" id="<%=coffee.id%>"></div>
                            <a class="card-article-link" href="/pageProduit/<%= coffee.id %>">Découvrir</a>
                            <div class="card-article-add-to-cart" id='<%=coffee.id%>'></div>

                        </footer>
                    </article>
                    <%}); %>
                        
            </div>

        </div>

        <div class="see-all-button">Voir tout</div>

    </section>



    <%- include('partials/footer') %>